package layouts

import "github.com/tomazcx/odonto-dashboard-go/views/shared"

templ DashboardLayout(){
	@shared.Base("Odonto Dashboard"){
		<div class="grid grid-cols-12">
			<aside class="col-span-1 bg-sky-200 min-h-screen">

			</aside>
			<main class="col-span-11">
	<header class="shadow-lg p-8">

		</header>

				<h1>teste</h1>
			</main>
		</div>
	}

}