package components

type ButtonProps struct {
	Label   string
	Type    string
	Variant string
	Href    string
}

templ Button(props ButtonProps, className string) {
	if len(props.Href) > 0 {
		<a
 			type={ props.Type }
 			class={ 
			"btn",
			props.Variant,
			className,
		 }
		>
			{ props.Label }
		</a>
	} else {
		<button
 			type={ props.Type }
 			class={ 
			"btn",
			props.Variant,
			className,
		 }
		>
			{ props.Label }
		</button>
	}
}
