package components

type ButtonProps struct {
	Label 	string
    Type  	string
	Variant	string
}

templ Button(props ButtonProps){
	<button 
		type={props.Type} 
		class={
			"rounded-lg w-full px-8 py-2 text-white font-semibold transition-colors",
			templ.KV("bg-sky-400 hover:bg-sky-500", props.Variant == "primary"),
			templ.KV("bg-rose-400 hover:bg-rose-500", props.Variant == "danger"),
		}>
		{props.Label}
	</button>
}