package components

type InputProps struct {
	Type  string
	Name  string
	Label string
}

templ Input(props InputProps) {
	<div class="form-control w-full">
		<label for={ props.Name } class="label">
			<span class="label-text">{ props.Label }</span>
		</label>
		<input type={ props.Type } name={ props.Name } id={ props.Name } class="input input-bordered w-full"/>
	</div>
}
