package components

type TextareaProps struct {
	Label          string
	Name           string
	ContainerStyle string
	Value          string
}

templ Textarea(props TextareaProps) {
	<div class={ "form-control w-full", props.ContainerStyle }>
		<label for={ props.Name } class="label">
			<span class="label-text">
				{ props.Label }
			</span>
		</label>
		<textarea id={ props.Name } name={ props.Name } class="textarea textarea-bordered">{ props.Value }</textarea>
	</div>
}
